<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Publisher By Id</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

  <h3>Publisher By Id</h3>
  <table style="width:80%" border="1"
         class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="publisher:${publisher}">
      <td th:text="${publisher.getId()}"></td>
      <td th:text="${publisher.getName()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>