<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/signedup">
        <h2 class="form-signin-heading">Please sign up</h2>
        <p>
            <label  class="sr-only">Username</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Username" required autofocus>
        </p>
        <p>
            <label class="sr-only">Password</label>
            <input type="password" id="pass" name="pass" class="form-control" placeholder="Password" required>
        </p>
        <p>
            <label class="sr-only">Repeat Password</label>
            <input type="password" id="pass2" name="pass2" class="form-control" placeholder="Repeat Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
    <div class="container">
        <form class="form-signin" method="Get" action="/login">
            <button type="submit">I actually have an account</button>
        </form>
    </div>
</div>
</body></html>